<template name="User_Header">
  <div class="ui top fixed borderless inverted grey menu" style="height:50px;">
    <div class="ui container">
      <div class="item"><h1><img src="/images/UHMSpacebar_logo_r1.png"
                                 style="width:200px; height:100px;padding-top:10px;"></h1></div>
      <a class="{{isActiveRoute " Profile_Page"}} item" href="{{pathFor "Profile_Page"
      username=routeUserName}}">Profile</a>
      <a class="{{isActiveRoute " Browse_Page"}} item" href="{{pathFor "Browse_Page"
      username=routeUserName}}">Browse</a>
      <a class="{{isActiveRoute " Register_Club_Page"}} item" href="{{pathFor "Register_Club_Page"
      username=routeUserName}}">Club Register</a>
      <a class="{{isActiveRoute " Club_Admin_Page"}} item" href="{{pathFor "Club_Admin_Page"
      username=routeUserName}}" onclick="window.location.reload(true);">Club Admin Page</a>
      <div class="right aligned item">{{> Cas_Login }}</div>
    </div>
  </div>
</template>