<template name="User_Header">
  <div class="ui top fixed borderless inverted pointing menu" style="height:50px;">
    <div class="ui container">
      <div class="item"><h1><img src="/images/UHMSpacebar_logo_r1.png"
                                 style="width:200px; height:100px;padding-top:10px;"></h1></div>
      {{#if profile.firstName}}
      <a class="{{ isActiveRoute "Profile_Page" }} item" href="{{pathFor "Profile_Page" username=routeUserName}}">
        <h5 style="text-align: center;">
          <i style="font-size: 20px;" class="user icon"></i>
          <br/>
          {{#if isActiveRoute "Profile_Page" }}Profile{{/if}}
        </h5>
      </a>
      <a class="{{ isActiveRoute "Browse_Page" }} item" href="{{pathFor "Browse_Page" username=routeUserName}}">
        <h5 style="text-align: center;">
          <i style="font-size: 20px;" class="search icon"></i>
          <br/>
          {{#if isActiveRoute "Browse_Page" }}Search{{/if}}
        </h5>
      </a>
      <a class="{{ isActiveRoute "Register_Club_Page" }} item" href="{{pathFor "Register_Club_Page" username=routeUserName}}">
        <h5 style="text-align: center;">
          <i style="font-size: 20px;" class="sitemap icon"></i>
          <br/>
          {{#if isActiveRoute "Register_Club_Page" }}Register Club{{/if}}
        </h5>
      </a>
      <a class="{{ isActiveRoute "Club_Admin_Page" }} item" href="{{pathFor "Club_Admin_Page" username=routeUserName}}" onclick="window.location.reload(true);">
        <h5 style="text-align: center;">
          <i style="font-size: 20px;" class="dashboard icon"></i>
          <br/>
          {{#if isActiveRoute "Club_Admin_Page" }}Club Dashboard{{/if}}
        </h5>
      </a>
      {{/if}}
      <div class="ui right aligned dropdown item" >
        <div class="floating inverted">
          <i class="user icon"></i>
          {{#if profile.firstName}}{{profile.firstName}} {{profile.lastName}}{{/if}}&nbsp;&nbsp;&nbsp;
          <i class="dropdown icon"></i>
        </div>
          <div class="menu">
            <a class="item " href="{{pathFor "Edit_Profile_Page" username=routeUserName}}">Edit Profile</a>
            <a class="item cas-logout">Logout</a>
          </div>
      </div>
    </div>
  </div>
</template>