<template name="Directory_Club">

  <div class="card">
    <div class="content">
      <img class="right floated mini ui image" src="{{ club.picture }}">
      <div class="header">
        {{ club.clubName }}
      </div>
      <div class="meta">
        {{ club.caption}}
      </div>
      <div class="description">
        {{ club.about }}
      </div>
      <div style="margin-top: 10px">
        {{#each interest in club.interests}}
          <a style="margin-bottom: 2px" class="ui teal tag small label">{{interest}}</a>
        {{/each}}
      </div>

    </div>
    <div class="extra content">
      <div class="ui equal width center aligned grid">
        <div class="column"><a href="mailto:{{ club.username}}@hawaii.edu"><i class="big mail icon"></i></a></div>
        {{#if club.github }}
          <div class="column"><a href="https://github.com/{{ club.github}}"><i class="big github icon"></i></a></div>
        {{/if}}
        {{#if club.facebook }}
          <div class="column"><a href="https://facebook.com/{{ club.facebook}}"><i class="big facebook icon"></i></a></div>
        {{/if}}
        {{#if club.instagram }}
          <div class="column"><a href="https://instagram.com/{{ club.instagram}}"><i class="big instagram icon"></i></a></div>
        {{/if}}
      </div>
    </div>
  </div>

</template>